www.richter.pm richter.pm tech.richter.pm {
    redir /amerikanska-pannkakor/ https://mat.richter.pm/amerikanska-pannkakor/
    redir /detroit-style-pizza https://mat.richter.pm/detroit-style-pizza/
    redir /vetedeg/ https://mat.richter.pm/vetedeg/
    redir /mitt-dagliga-brod-3/ https://mat.richter.pm/mitt-dagliga-brod-3/
    redir /grandma-pizza/ https://mat.richter.pm/grandma-pizza/
    redir /knadfria-bagels/ https://mat.richter.pm/knadfria-bagels/
    redir /fakerokt-lax/ https://mat.richter.pm/fakerokt-lax/
    redir /mitt-dagliga-brod-2/ https://mat.richter.pm/mitt-dagliga-brod-2/
    redir /mitt-dagliga-brod/ https://mat.richter.pm/mitt-dagliga-brod/
    
    reverse_proxy http://ghost:2368

}

mat.richter.pm {
    reverse_proxy http://ghost-food:2368
}