services:
  proxy:
    image: caddy:2.8.4
    container_name: proxy
    restart: always
    ports:
      - 443:443
      - 80:80
    volumes:
      - $PWD/Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
  ghost:
    image: ghost:5-bookworm
    container_name: ghost
    restart: always
    environment:
      database__client: mysql
      database__connection__host: db
      database__connection__user: root
      database__connection__password: $DB_PASSWORD
      database__connection__database: ghost
      url: https://tech.richter.pm
    volumes:
      - ./content:/var/lib/ghost/content
    depends_on:
      - db
  ghost-food:
    image: ghost:5-bookworm
    container_name: ghost_food
    restart: always
    environment:
      database__client: mysql
      database__connection__host: db-food
      database__connection__user: root
      database__connection__password: $DB_PASSWORD
      database__connection__database: ghost
      url: https://mat.richter.pm
    volumes:
      - ./content:/var/lib/ghost/content
    depends_on:
      - db-food
  db:
    image: yobasystems/alpine-mariadb:arm32v7
    container_name: ghost_db
    restart: always
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Stockholm
      - MYSQL_ROOT_PASSWORD=$DB_PASSWORD
    volumes:
      - mysql-data:/var/lib/mysql
  db-food:
    image: yobasystems/alpine-mariadb:arm32v7
    container_name: ghost_db_food
    restart: always
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Stockholm
      - MYSQL_ROOT_PASSWORD=$DB_PASSWORD
    volumes:
      - mysql-data-food:/var/lib/mysql

# Use a docker managed volume for data persistency across reboots
volumes:
  mysql-data:
  mysql-data-food:
  caddy_data:
  caddy_config:
